<app-fanfics-search-filters (onPerformSearch)="onSearchFanfics($event)"></app-fanfics-search-filters>

<div class="spinner" *ngIf="isLoading; else displayFanfics">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>

  <div class="fanfics-page">
    <ng-template #displayFanfics>
      <div class="fanfics" *ngIf="(fanfics$ | async)?.pageContent?.length; else noFanfics">
        <app-fanfic-item [fanfic]="fanfic" *ngFor="let fanfic of (fanfics$ | async)?.pageContent"></app-fanfic-item>
      </div>
      <ng-template #noFanfics>
        <div class="no-fanfics-found">
          <i class="pi pi-file"></i>
          <span>No Fanfics Found</span>
        </div>
      </ng-template>
    </ng-template>
    <div class="pages">
      <p-paginator
        (onPageChange)="pageChangeHandler($event)"
        [rows]="(fanfics$ | async)?.itemsPerPage ?? 1"
        [totalRecords]="(fanfics$ | async)?.totalItems ?? 10"
        [rowsPerPageOptions]="[10, 20, 50]"
        [showCurrentPageReport]="true"
      >
      </p-paginator>
    </div>
  </div>
