<div class="fanfic" *ngIf="fanfic">
  <div class="fanfic-title">
    <a [routerLink]="['fanfic', fanfic.id]" pTooltip="Click to view" tooltipPosition="top">{{fanfic.title}}</a>
  </div>
  <hr />
  <div class="data-item data-item-bold">
    Author: <app-author-tag [author]="fanfic.author"></app-author-tag>
  </div>
  <div class="data-item data-item-bold" *ngIf="fanfic.coauthors.length">
    Coauthors: <app-author-tag
                  *ngFor="let coauthor of fanfic.coauthors"
                  [author]="coauthor">
               </app-author-tag>
  </div>
  <div class="data-item data-item-bold">
    Fandoms: <p-tag
                *ngFor="let fandom of fanfic.fandoms"
                [value]="fandom.title"
                [style]="{'margin': '0 .25rem'}">
             </p-tag>
  </div>
  <div class="data-item data-item-bold">
    Tags: <p-tag
                *ngFor="let tag of fanfic.tags"
                [value]="tag.name"
                [style]="{'margin': '0 .25rem'}">
            <ng-template pTemplate="icon">
              <i [class]="PrimeIcons.BOOKMARK"></i>
            </ng-template>
          </p-tag>
    <span *ngIf="fanfic.tags.length === 0" style="color: red">
      <i class="pi pi-times" style="color: red"></i> No tags specified!
    </span>
  </div>
  <div class="data-item data-item-bold">
    Direction: {{fanfic.direction}}
  </div>
  <div class="data-item data-item-bold">
    Origin: {{fanfic.origin}}
  </div>
  <div class="data-item data-item-bold">
    Rating: {{fanfic.rating}}
  </div>
  <div class="data-item data-item-bold">
    Status: {{fanfic.status}}
  </div>
  <div class="data-item">
    Created: {{fanfic.createdDate | date:'MMMM d y h:mm a'}}
  </div>
  <div class="data-item">
    Last modified: {{fanfic.lastModified | date:'MMMM d y h:mm a'}}
  </div>
  <hr />
  <p class="fanfic-text">
    {{fanfic.annotation}}
  </p>
</div>
