.fanfic {
  border: 2px solid royalblue;
  border-radius: 5px;
  margin: 2rem 3rem;
  padding: 0 1rem;

  .fanfic-title {
    font-size: 2rem;
    font-weight: 600;
    margin: .5rem 0;

    a {
      text-decoration: none;
    }
  }

  hr {
    margin: .5rem 0;
  }

  .data-item {
    margin: .5rem 0;

    &.data-item-bold {
      font-weight: 600;
    }
  }
}
