.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

  .login-form {
    color: rgb(26, 119, 206);
    background-color: rgb(166, 228, 255);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(26, 119, 206);
    border-radius: 10px;
    width: 40vh;
    height: 45vh;

    .text-field-wrapper {
      margin: 1rem;

      .field-label {
        font-weight: 700;
        font-size: 1.15rem;
      }

      .text-input {
        margin: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 5px;
        border: 1px solid rgb(26, 119, 206);
        color: rgb(26, 119, 206) !important;
        background-color: #e9ffb4;
        font-weight: 600;
      }
    }

    .login-button {
      border-radius: 5px;
      border: 1px solid rgb(26, 119, 206);
      color: gold;
      background-color: rgb(26, 119, 206);
      font-weight: 700;
    }
  }
}
