<div class="login-form-wrapper">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <img class="main-img" style="width: 20%" src="assets/img/cite-main-icon.jpg" alt="Fanfics World icon">
    <h1>Please sign in</h1>

    <div class="text-field-wrapper">
      <label class="field-label" for="floatingInput">Username:</label>
      <input class="text-input" type="text" id="floatingInput" placeholder="username" formControlName="login">
    </div>
    <div class="text-field-wrapper">
      <label class="field-label" for="floatingPassword">Password:</label>
      <input class="text-input" type="password" id="floatingPassword" placeholder="Password" formControlName="password">
    </div>

    <button class="login-button" type="submit" [disabled]="loginForm.invalid">Sign in</button>
    <p class="text-muted" style="margin: 1rem">&copy; 2022–{{date.getFullYear()}}</p>
  </form>
</div>
