<div class="register-form-wrapper">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <img class="main-img" style="width: 20%" src="assets/img/cite-main-icon.jpg" alt="Fanfics World icon">
    <h1>Please specify a new user's data:</h1>

    <div class="fields">
      <div class="text-field-wrapper">
        <label class="field-label" for="userName">Username:</label>
        <div class="form-field">
          <input pInputText type="text" id="userName" placeholder="Enter username" formControlName="userName" [style]="formFieldStyles" />
        </div>
      </div>
      <div class="text-field-wrapper">
        <label class="field-label" for="email">Email:</label>
        <div class="form-field">
          <input pInputText type="email" id="email" placeholder="Enter email" formControlName="email" [style]="formFieldStyles" />
        </div>
      </div>
      <div class="text-field-wrapper">
        <label class="field-label" for="password">Password:</label>
        <div class="form-field">
          <p-password [toggleMask]="true" placeholder="Enter password" formControlName="password" id="password" [style]="formFieldStyles"></p-password>
        </div>
      </div>
      <div class="text-field-wrapper">
        <label class="field-label" for="birthDate">Date of birth:</label>
        <div class="form-field">
          <p-calendar
            [maxDate]="maxDate"
            placeholder="Enter date of birth"
            formControlName="dateOfBirth"
            dateFormat="dd M yy"
            id="birthDate"
            [style]="formFieldStyles">
          </p-calendar>
        </div>
      </div>
      <div class="text-field-wrapper" *ngIf="authService.isInRole('Admin')">
        <label class="field-label" for="role">Role:</label>
        <div class="form-field">
          <p-dropdown [options]="roles" placeholder="Select a role:" formControlName="role" id="role" [style]="formFieldStyles"></p-dropdown>
        </div>
      </div>
    </div>

    <button pButton class="register-button" type="submit" [disabled]="registerForm.invalid">Sign up</button>
    <div *ngIf="!authService.isAuthenticated">Already have an account? <a [routerLink]="['/login']">Sign in!</a></div>
  </form>
</div>
