.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

  .register-form {
    color: rgb(26, 119, 206);
    background-color: rgb(166, 228, 255);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(26, 119, 206);
    border-radius: 10px;
    width: auto;
    height: auto;

    .fields {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .text-field-wrapper {
        margin: 1rem;

        .field-label {
          font-weight: 700;
          font-size: 1.15rem;
        }
      }
    }

    .register-button {
      border-radius: 5px;
      border: 1px solid rgb(26, 119, 206);
      color: gold;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
}
