<div class="fanfic-page" *ngIf="fanfic">
  <div class="fanfic-page-header">
    <h1>{{fanfic.title}}</h1>
    <h2>
      <p-button
        icon="pi pi-pencil"
        pTooltip="Edit fanfic"
        [raised]="true"
        [routerLink]="['/edit-fanfic', fanfic.id]"
        *ngIf="(isFanficAuthor | async)">
      </p-button>
      <p-button
        icon="pi pi-trash"
        pTooltip="Delete fanfic"
        severity="danger"
        [raised]="true"
        (onClick)="onDeleteFanficClick()"
        *ngIf="(isFanficAuthor | async)">
      </p-button>
      <p-confirmDialog
        icon="pi pi-trash"
        acceptIcon="pi pi-trash"
        acceptButtonStyleClass="p-button-danger"
        rejectButtonStyleClass="p-button-text"
        header="Confirm deletion"></p-confirmDialog>
    </h2>
  </div>

  <hr />

  <div class="fanfic-info">
    <div class="data-item data-item-bold">
      Author: <app-fanfics-world-tag
      [value]="fanfic.author.userName"
      icon="user">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold" *ngIf="fanfic.coauthors.length">
      Coauthors: <app-fanfics-world-tag
      *ngFor="let coauthor of fanfic.coauthors; let isOdd = odd"
      [value]="coauthor.userName"
      [color]="isOdd ? 'yellow' : ''"
      [textColor]="isOdd ? 'black' : ''"
      icon="user"
    >
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold">
      Fandoms: <app-fanfics-world-tag
      *ngFor="let fandom of fanfic.fandoms; let isOdd = odd"
      [value]="fandom.title"
      [color]="isOdd ? 'yellow' : ''"
      [textColor]="isOdd ? 'black' : ''"
      icon="book">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold">
      Tags: <app-fanfics-world-tag
      *ngFor="let tag of fanfic.tags; let isOdd = odd"
      [value]="tag.name"
      [color]="isOdd ? 'yellow' : ''"
      [textColor]="isOdd ? 'black' : ''"
      icon="bookmark">
    </app-fanfics-world-tag>
      <span *ngIf="fanfic.tags.length === 0" style="color: red">
      <i class="pi pi-times" style="color: red"></i> No tags specified!
    </span>
    </div>
    <div class="data-item data-item-bold">
      Direction: <app-fanfics-world-tag
      [value]="fanfic.direction"
      [color]="fanficDirectionTagColor[fanfic.direction]">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold">
      Origin: <app-fanfics-world-tag
      [value]="fanfic.origin"
      [icon]="fanficOriginTagIcon[fanfic.origin]"
      severity="info">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold">
      Rating: <app-fanfics-world-tag
      [value]="fanfic.rating"
      [color]="fanficRatingTagColor[fanfic.rating]">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item data-item-bold">
      Status: <app-fanfics-world-tag
      [value]="fanfic.status"
      [color]="fanficStatusTagColor[fanfic.status]"
      [icon]="fanficStatusTagIcon[fanfic.status]">
    </app-fanfics-world-tag>
    </div>
    <div class="data-item">
      Created: {{fanfic.createdDate | date:'MMMM d y h:mm a z'}}
    </div>
    <div class="data-item">
      Last modified: {{fanfic.lastModified | date:'MMMM d y h:mm a z'}}
    </div>
    <div class="data-item">
      Annotation: {{fanfic.annotation}}
    </div>

    <div class="fanfic-text" [innerHTML]="fanfic.text"></div>

    <div class="comments-section">
      <h3>Comments</h3>
      <form class="add-comment" [formGroup]="sendCommentForm" (submit)="sendComment()" *ngIf="authService.isAuthenticated">
        <label for="commentTextarea">Enter your comment here:</label>
        <textarea id="commentTextarea" pInputTextarea formControlName="comment"></textarea>
        <button pButton type="submit" [disabled]="this.sendCommentForm.invalid">Send comment</button>
      </form>
      <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment-author">
            <h4>
              <span>
                {{comment.author.userName}}
                <span *ngIf="(isCommentAuthor(comment.author.id) | async)">(You)</span>
              </span>
              <button
                class="comment-delete-button"
                type="button"
                pTooltip="Delete comment"
                tooltipPosition="left"
                (click)="onDeleteCommentClick(comment.id)"
                *ngIf="(isCommentAuthor(comment.author.id) | async)">
                <i class="pi pi-trash"></i>
              </button>
            </h4>
          </div>
          <div class="created-date">Added: {{comment.createdDate | date: 'medium'}}</div>
          <div class="comment-text">{{comment.text}}</div>
          <div class="comment-buttons">
            <button type="button" [disabled]="!authService.isAuthenticated" (click)="onCommentLikeClick(comment.id, comment.currentUserReaction)">
              <i class="pi {{commentLikeStyleClass[comment.currentUserReaction === true ? 'active' : 'inactive']}}"></i>
            </button> {{comment.likesCount}}
            <button type="button" [disabled]="!authService.isAuthenticated" (click)="onCommentDislikeClick(comment.id, comment.currentUserReaction)">
              <i class="pi {{commentDislikeStyleClass[comment.currentUserReaction === false ? 'active' : 'inactive']}}"></i>
            </button> {{comment.dislikesCount}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
