.fanfic-page {
  margin: auto 1rem;

  .fanfic-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  hr {
    border: 2px solid #000d77;
    margin-bottom: 2rem;
  }

  .data-item {
    margin: .5rem 0;

    &.data-item-bold {
      font-weight: 600;
    }
  }

  .fanfic-text {
    overflow-y: auto;
    margin-top: 5rem;
  }
}
