<div class="admin-panel-wrapper">
  <h1>Welcome to Admin Tools Panel!</h1>
  <p-tabView (activeIndexChange)="onActiveTabChange($event)">
    <p-tabPanel header="Users">
      <app-admin-panel-users #usersTab></app-admin-panel-users>
    </p-tabPanel>
    <p-tabPanel header="Fandoms">
      <app-admin-panel-fandoms #fandomsTab></app-admin-panel-fandoms>
    </p-tabPanel>
    <p-tabPanel header="Tags">
      <app-admin-panel-tags #tagsTab></app-admin-panel-tags>
    </p-tabPanel>
  </p-tabView>
</div>
<p-confirmDialog key="adminPage"></p-confirmDialog>
