.adult-content-container {
  padding: 0 2rem;
  text-align: center;
  font-size: 1.5rem;

  h1, h1 i {
    color: #cb000f;
    font-size: 3rem;
  }

  .link {
    text-decoration: none;
    color: #cb000f;
  }
}
