<header>
  <div class="title-section">
    <h1>Fanfics World</h1>
    @if (loggedInUser) {
      <button class="common-button" type="button" pButton routerLink="/add-fanfic">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>Add fanfic</span>
      </button>
    }
  </div>
  @if (loggedInUser) {
    <div class="auth-section-authorized">
      <span class="username">{{ loggedInUser.name }}</span>
      <p-avatar [label]="userNameFirstLetter" shape="circle" />
      <span class="user-menu-button" (click)="userPanelMenu.toggle($event)">
        <i class="pi pi-angle-down"></i>
      </span>
      <p-menu #userPanelMenu [model]="userPanelMenuItems" [popup]="true" />
    </div>
  }
  @else {
    <div class="auth-section">
      <p-button routerLink="/login" variant="text" severity="contrast">Login</p-button>
      <p-button routerLink="/register" variant="text" severity="contrast">Register</p-button>
    </div>
  }
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>&copy; Developed by elkprostoelk. All rigths reserved.</div>
</footer>
<p-toast />
