<div class="wrapper">
  <header>
    <div class="main-icon">
      <a routerLink="/"><img class="main-img" src="assets/img/cite-main-icon.jpg" alt="Fanfics World Icon"/></a>
    </div>
    <div class="user-tools">
      <ng-container *ngIf="userLoggedIn; else notLoggedIn">
        <span class="user">{{(authService.loggedInUser | async)?.userName}}</span>
        <button class="top-panel-button" type="button" [routerLink]="['/add-fanfic']">Add fanfic</button>
        <button class="top-panel-button" type="button" (click)="logoutUser()">Logout</button>
      </ng-container>
      <ng-template #notLoggedIn>
        <button class="top-panel-button" type="button" routerLink="/login">Login</button>
        <button class="top-panel-button" type="button" routerLink="/register">Register</button>
      </ng-template>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
    <p-scrollTop target="parent"></p-scrollTop>
  </main>
  <footer>
    <div>&copy; Developed by <a class="github-link" href="https://github.com/elkprostoelk" target="new" title="My GitHub account">elkprostoelk</a>. All rights reserved.</div>
  </footer>
</div>
<p-toast></p-toast>
