<div class="wrapper">
  <header class="header navbar">
    <a routerLink="/"><img class="img-fluid" src="assets/img/cite-main-icon.jpg" alt="Fanfics World Icon"/></a>
    <div class="d-flex">
      <select class="form-select form-select-lg m-1" #selectedLanguage (change)="switchLanguage(selectedLanguage.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </div>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    &copy; Developed by <a class="github-link" href="https://github.com/elkprostoelk" target="new" title="My GitHub account">elkprostoelk</a>. All rights reserved.
  </footer>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
