<div class="wrapper">
  <header class="header">
    <select #selectedLanguage (change)="switchLanguage(selectedLanguage.value)">
      <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
        {{ language }}
      </option>
    </select>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">

  </footer>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
