<div class="user-panel-control-buttons">
  <p-button
    label="Add new user"
    icon="pi pi-user-plus"
    [text]="true"
    [raised]="true"
    (onClick)="addNewUserClick()">
  </p-button>
  <p-button
    label="Refresh users list"
    icon="pi pi-sync"
    [plain]="true"
    [text]="true"
    [raised]="true"
    (onClick)="refreshUsersList()">
  </p-button>
  <input type="text"
         pInputText
         placeholder="ID, name or email"
         [(ngModel)]="searchTerm"/>
  <p-button severity="secondary" icon="pi pi-search" (onClick)="filterByName()"></p-button>
  <p-button [text]="true" label="Clear" (onClick)="clearFilter()" [disabled]="!searchTerm"></p-button>

</div>
<p-table
        styleClass="p-datatable-gridlines"
        [resizableColumns]="true"
        scrollHeight="flex"
        [scrollable]="true"
        [value]="users.pageContent"
        [showLoader]="true"
        [loading]="usersTableLoading">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>ID</th>
      <th pResizableColumn>User Name</th>
      <th pResizableColumn>Email</th>
      <th pResizableColumn>Registration Date</th>
      <th pResizableColumn>Date of Birth</th>
      <th pResizableColumn>Fanfics<br />Count</th>
      <th pResizableColumn>Coauthored<br />Fanfics</th>
      <th pResizableColumn>Status</th>
      <th pResizableColumn>Tools</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.registrationDate | date: 'long' }}</td>
      <td>{{ user.dateOfBirth | date: 'mediumDate' }}</td>
      <td>{{ user.fanficsCount }}</td>
      <td>{{ user.coauthoredFanficsCount }}</td>
      <td [ngStyle]="{'color': user.isBlocked ? 'red' : 'darkgreen', 'font-weight': '600'}">{{ user.isBlocked ? 'Blocked' : 'Available' }}</td>
      <td class="user-actions">
        <button
          class="p-button-secondary p-button-text user-action-button"
          icon="pi pi-pencil"
          pButton
          type="button"
          pTooltip="Edit user info">
        </button>
        <button
          class="p-button-warning user-action-button"
          [icon]="user.isBlocked ? unblockUserOptions['icon'] : blockUserOptions['icon']"
          pButton
          type="button"
          [pTooltip]="(user.isBlocked ? unblockUserOptions['label'] : blockUserOptions['label'])+' user'"
          *ngIf="notMe(user.id) | async"
          (click)="onUserBlockStatusChangeClicked(user)">
        </button>
        <button
          class="p-button-danger user-action-button"
          icon="pi pi-trash"
          pButton
          type="button"
          *ngIf="notMe(user.id) | async"
          pTooltip="Delete user"
          (click)="onDeleteUserClick(user.id)">
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="no-users" colspan="8">
        <i class="pi pi-user" style="font-size:2.5rem"></i><br /> No users found.
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  (onPageChange)="pageChangeHandler($event)"
  [rows]="users.itemsPerPage"
  [totalRecords]="users.totalItems"
  [rowsPerPageOptions]="[5, 10, 20]"
  [showCurrentPageReport]="true"
>
</p-paginator>
