.no-users {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.user-panel-control-buttons {
  margin-bottom: 1rem;

  :first-child {
    margin-left: 0;
  }

  p-button {
    margin: 0 .5rem;
  }
}
