@import "primeicons/primeicons.css";
@import "node_modules/quill/dist/quill.snow.css";

.main-img {
  border-radius: 10px;
}

h1, h2 {
  color: rgb(26, 119, 206);
}

body {
  margin: 0 !important;
}

.form-required-mark {
  color: red;
  vertical-align: super;
  font-size: smaller;
}
